<!-- <ion-header> -->
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">{{title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-avatar class="profile-avatar">
          <img src={{profileImageUrl}} />
        </ion-avatar>
        <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<!-- </ion-header> -->