<ion-content [scrollX]="false">
  <div class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport orientation="horizontal" class="ion-content-scroll-host example-viewport" itemSize="56">
    <!-- Your existing content and configurations -->

    <div *cdkVirtualFor="let item of items" class="example-item">        
      <ion-avatar slot="start">
      <img src="https://loremflickr.com/40/40" />
    </ion-avatar>
    </div>

    <!-- <ion-list>
      <ion-item *cdkVirtualFor="let item of items">
        <ion-avatar slot="start">
          <img src="https://loremflickr.com/40/40" />
        </ion-avatar>
        <ion-label> {{item.text }} </ion-label>
      </ion-item>
    </ion-list> -->
  </cdk-virtual-scroll-viewport>
  </div>


  <!-- <ion-infinite-scroll (ionInfinite)="loadMore()" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>