<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-bar">

    <div class="custom-border"></div>

    <ion-tab-button class="tab-button" tab="login" href="/tabs/login">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="icon-top" class="tab-button" tab="tab2" href="/tabs/tab2" [@moveUp]="tab2State"
      (click)="toggleTab2State()">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" class="tab-button" tab="matches" href="/tabs/matches" [@moveUp]="loginState"
      (click)="toggleLoginState()">

      <div class="active-indicator"></div>

      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <div class="curve-border"></div>
  </ion-tab-bar>

</ion-tabs>